{% extends 'layout.html.twig' %}

{% block content %}
<section class="container">
    <article>
        <h1>Privacy policy</h1>
        <p>Curabitur et metus sit amet ligula sodales lobortis. Sed semper sapien id ante dictum venenatis. Sed massa est, mollis id euismod varius, lacinia sed quam. Ut sagittis vehicula tincidunt. In hac habitasse platea dictumst. Aenean id velit ut lacus gravida dictum sed nec dui. Phasellus faucibus, nulla id cursus sagittis, tortor ante consequat eros, vel semper metus ipsum eleifend felis. Ut pharetra orci quam, id pharetra augue commodo a. Quisque gravida maximus tortor a blandit. Integer vitae tellus in est suscipit ornare. Etiam sit amet sagittis dui, id aliquam turpis. Etiam ac tempus tellus. Nulla aliquet eros sit amet massa efficitur ornare.</p>

        <p>Aliquam pulvinar venenatis laoreet. Mauris feugiat consequat tellus quis feugiat. Nulla sollicitudin lorem justo, vitae ultrices elit maximus non. Vestibulum non mi vitae ex porttitor iaculis sed in magna. Sed feugiat neque vel quam vulputate, ac laoreet ipsum imperdiet. Vestibulum nibh libero, dapibus in est nec, suscipit pellentesque ex. Sed justo nunc, ultricies non ligula condimentum, luctus tempor lectus. Nullam vel erat mauris. Morbi id elit sit amet elit fermentum luctus.</p>

        <p>Nam interdum diam vehicula massa tempus, quis eleifend turpis feugiat. Mauris vitae tempus orci, sed laoreet elit. Nullam nec est congue, tempus risus eu, tincidunt metus. Duis vitae odio vel diam consectetur cursus. Duis sodales efficitur ipsum, eget tincidunt ex sagittis in. Phasellus tristique, odio eu maximus tempor, tellus ligula aliquet elit, id condimentum lectus purus a dolor. Etiam interdum libero enim, quis condimentum leo ultricies sed. Suspendisse sit amet ante fringilla tortor faucibus vulputate eget quis nisl. Vestibulum volutpat, justo quis euismod ultricies, lectus sapien molestie leo, interdum pulvinar nibh tellus ut mauris. Nullam sagittis turpis lacus, non pharetra tortor lacinia in. Suspendisse suscipit facilisis dui non ultrices. Praesent accumsan arcu justo, sagittis fringilla libero faucibus a.</p>

        <p>Donec gravida ligula sit amet eros ultricies, at tempus mi cursus. Nulla facilisi. Nam fringilla convallis ante sed ullamcorper. Mauris nec dignissim purus, in hendrerit tellus. Nulla mollis non elit a vehicula. Nunc tempor finibus mauris, blandit maximus tellus. Nulla tortor libero, hendrerit dictum nulla a, varius suscipit ex. Nunc tincidunt ac ante vitae porttitor. Vestibulum quis massa aliquet mi mattis pretium eu id ligula. In non malesuada velit.</p>

        <p>Fusce nec tortor non tellus vehicula ornare sit amet sed diam. Curabitur vitae varius mi. Pellentesque ac gravida metus, vitae ultrices nibh. In hac habitasse platea dictumst. Donec ut varius lorem, at semper enim. Donec dapibus ipsum est, et faucibus tellus sagittis id. Morbi eget magna in quam lobortis commodo sed sit amet odio. Curabitur blandit accumsan turpis. Integer pharetra mi volutpat, sodales quam ut, malesuada metus. Phasellus aliquam hendrerit massa ut lacinia.</p>
    </article>
</section>
{% endblock %}
